parameters:
  level: 4
  paths:
    - php_payroll/
    - api/
  bootstrapFiles:
    - phpstan-bootstrap.php
  scanFiles:
    - php_payroll/includes/constants.php
    - php_payroll/config/config.php
  excludePaths:
    - php_payroll/vendor (?)
    - php_payroll/uploads (?)
    - php_payroll/tmp_sessions (?)
    - php_payroll/config/config.local.php (?)
  ignoreErrors:
    # ---- Superglobals & globals set by index.php / config.php ----
    - '~Cannot access property .+ on mixed~'
    - '~Undefined variable: \$_(SESSION|GET|POST|SERVER|FILES|REQUEST|COOKIE)~'
    - '~(Undefined variable|Variable .+ might not be defined): \$(db|auth|page|\w+)~'

    # ---- Custom DB wrapper (not a standard PDO subclass) ----
    - '~(Call to an undefined method|Access to an undefined property) Database::~'
    - '~Cannot instantiate class Database via private constructor~'
    - '~Call to an undefined method PDOStatement::~'

    # ---- Vendor/missing files not in CI ----
    - '~Path in (require|include)_once\(\) .+ is not a file~'
    - '~(Class .+ not found|Instantiated class .+ not found|unknown class)~'
    - '~Call to method .+\(\) on an unknown class~'
    - '~Constant .+ not found~'

    # ---- Tautology / dead-code analysis (noise in legacy code) ----
    - '~(Strict|Loose) comparison using (===|!==|==|!=) between .+ will always evaluate to~'
    - '~Comparison operation .+ is always (true|false)~'
    - '~(If condition|Ternary operator condition) is always (true|false)~'
    - '~Result of (&&|\|\|) is always (true|false)~'
    - '~Negated boolean expression is always~'
    - '~Right side of \|\| is always true~'
    - '~Offset .+ (always exists and is not nullable|does not exist)~'
    - '~Variable .+ in (isset|empty)\(\) always exists~'
    - '~Variable .+ on left side of \?\? (always exists|is never defined)~'
    - '~Expression on left side of \?\? is not nullable~'
    - '~Array has \d+ duplicate keys~'
    - '~Anonymous function has an unused use~'
    - '~Parameter #\d+ .+ of function (sanitize|formatDate|formatCurrency|maskAadhaar)~'
    - '~Property .+ is (unused|never read)~'
    - '~Method .+ is unused~'
    - '~Default value of the parameter .+ is incompatible with type~'
    - '~Function formatDate invoked with 2 parameters~'

  universalObjectCratesClasses:
    - stdClass
  reportUnmatchedIgnoredErrors: false
