parameters:
    # Level 0 = only critical errors (undefined classes, syntax errors)
    # Legacy HRMS code wasn't written for static analysis
    level: 0
    paths:
        - api
        - hrms
    bootstrapFiles:
        - phpstan-bootstrap.php
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        - '#Variable \$db might not be defined#'
        - '#Variable \$conn might not be defined#'
        - '#Variable \$stmt might not be defined#'
        - '#Variable \$result might not be defined#'
        - '#Variable \$row might not be defined#'
        - '#Offset .+ on .+ on left side of \?\? always exists#'
        - '#Instantiated class .+ not found#'
        - '#Path in include.*is not a file or it does not exist#'
        - '#Cannot instantiate class .+ via private constructor#'
        - '#Array has 2 duplicate keys#'
        - '#Cannot unset offset#'
        - '#Function .+ invoked with .+ parameters, .+ required#'
        - '#Undefined variable:#'
    excludePaths:
        - '*/vendor/*'
        - '*/node_modules/*'
        - '*/cache/*'
        - '*/temp/*'
